**
 * RESET
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * Utils
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

/**
 * GLOBAL
 */
:root {
  --metric-sidebar-width: 16rem;
  --metric-gutter: 1.5rem;
  --metric-mini-gutter: 0.8rem;
  --metric-gutter-neg: -1.5rem;
  --metric-mini-gutter-neg: -0.8rem;
  --color-dark: #252525;
  --color-light: #fefefe;
  --color-mid: #999999;
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
  --color-text-rev: var(--color-light);
  --color-bg-rev: var(--color-dark);
}

@font-face {
  font-family: LeagueScriptNumberOne;
  src: url('./assets/fonts/LeagueScriptNumberOne-webfont.woff') format('woff2'),
    url('./assets/fonts/LeagueScriptNumberOne-webfont.woff') format('woff');
}

.parent {
  padding-left: var(--metric-mini-gutter);
  margin-top: var(--metric-mini-gutter);
  display: grid;
  grid-template: 100px 1fr auto / 250px 1fr auto;
  font-family: 'LeagueScriptNumberOne';
}

header {
  padding: 2rem;
  grid-column: 1 / 2;
  padding-left: 6rem;
  padding-top: 2rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.side-nav {
  padding: var(--metric-gutter);
  /* outline: 1px dotted; */
  /* transition: opacity 500ms linear; */
  /* transition-delay: 100ms; */
  grid-column: 1 / 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

svg {
  width: 3rem;
  height: 3rem;
}

main {
  /* grid-column: 2 / 4; */
  display: flex;
  height: 100vh;
}

img {
  padding: 1rem;
  /* flex-grow: 1; */
  object-fit: cover;
  height: 65vh;
}
